.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
button{
  color: white;
  background-color: rgb(100,170,60);
  text-decoration: none;
  border-radius: 10px;
  margin: 10px;
  text-decoration: none;
}
button:hover{
  background-color: rgb(30, 49, 20);
}
.pages {
  color: #316685;
  text-align: center;
  margin-top: 10%;
  max-width: 800px;
  min-width: 200px;
  margin-left: auto;
}
.letsStart{
  color: #ffdd40;
  text-decoration: none;
  padding: 10px;
}


.style-4 {
  display: flex;
  align-items: center;
  --line: #646B8C;
  --color: #2B3044;
  text-decoration: none;
  color: var(--color);
  position: relative;
  span {
    background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: var(--background-size, 100%) 1px;
    transition: background-size .2s linear var(--background-delay, .15s);
    font-size:24px;
    transform: translateZ(0);
    }
    svg {
      vertical-align: top;
      display: inline;
      line-height: 1;
      width: 26px;
      height: 40px;
      position: relative;
      left: -2px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1px;
      stroke: var(--line);
      stroke-dasharray: 7.95 30;
      stroke-dashoffset: var(--stroke-dashoffset, 46);
      transition: stroke-dashoffset var(--stroke-duration, .15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
    }
    &:hover {
      --background-size: 0%;
      --background-delay: 0s;
      --stroke-dashoffset: 26;
      --stroke-duration: .3s;
      --stroke-easing: cubic-bezier(.3, 1.5, .5, 1);
      --stroke-delay: .195s;
    }
}
.linkWrap {
  position: relative;
  border-radius: 20px;
padding: 10px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 991px) {
    width: 50%;
    flex: 0 0 auto;
  }
  @media (max-width: 767px) {
    width: 100%;
    flex: 0 0 auto;
  }
}
